### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project
target/
.springBeans
MANIFEST,MF
.dbeaver/
.dbeaver
.credentials-config.json.bak
.data-sources.json.bak
.project-metadata.json.bak
.credentials-config.json
data-sources.json
.project-metadata.json
.project-settings.json
/.dbeaver
.dbeaver/data-sources.json