@charset "UTF-8";
#listname{
	font-weight: bold;
	margin-left: 440px;
	margin-bottom: 30px;
}

#chartInfo{
	width: 100%;
	border-collapse: collapse;
}

#chartInfo th,tr,td{
	padding: 8px;
	text-align: left;
 	border-bottom: 1px solid #3E2723;
 	font-size: 15px;
}

#buttonPart{
	margin-left: 390px;
}

.navContainer .buttons{
	background-color: #D7CCC8;
	width: 110px;
	height: 20px;
	border-radius: 5px;
	font: #3E2723;
	border: none;
	box-shadow: 1.5px 1.5px 1.5px 0 #3E2723;
	margin: 5px;
}

.navContainer .buttons:hover{
	background-color:  #BCAAA4;
}