@charset "UTF-8";

#listname{
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 0px;
	padding-top: 30px;
}

#chartInfo{
   margin: 20px auto;
   width: 100%;
   border-collapse: collapse;
   border-radius: 3px;
}

#chartInfo th,tr,td{
   padding: 8px;
   text-align: left;
    border-bottom: 1px solid #3E2723;
    font-size: 15px;
}

.navContainer input[type="submit"],input[type="button"]{
   background-color: #D7CCC8;
   width: 110px;
   height: 20px;
   border-radius: 5px;
   font: #3E2723;
   border: none;
   box-shadow: 1.5px 1.5px 1.5px 0 #3E2723;
   margin: 5px;
}

.navContainer input[type="submit"]:hover,input[type="button"]:hover{
   background-color:  #BCAAA4;
}

.buttons_left{
   float:left;
   margin-left: 20px;
}

.buttons_left button{
   margin-right: 10px;
}

.buttons_right{
	float: right;
	margin-right: 20px;
}

#allMenuButton{
   float: right;
   margin-right: 100px;
}

#content{
   width: 100%;
   height: 400px;
   overflow: auto;
}

#buttonPart{
   margin-left: 380px;
}

.form-control{
   margin-bottom: 10px;
}