@charset "UTF-8";

/* 일요일 날짜 빨간색 */
.fc-day-sun a {
  color: red;
  text-decoration: none;
}
.fc-day-sun a div{
  color: black;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
  color: blue;
  text-decoration: none;
}
.fc-day-sat a div {
  color: black;
}

.fc-non-business, .fc-daygrid-day-events{
	cursor: pointer;
}

.container{
	width:500px;
	height:1000px;
	margin: 0px auto;
	padding: 50px;
}

#calendar{
	width: 420px;
	height: 500px;
	margin: 0px auto;
}

#time_area{
	width: 420px;
	margin: 0px auto;
}
#time_area button{
	margin-right: 5px;
	margin-bottom : 5px;
	width: 100px;
	height: 30px;
	background-color: #EFEBE9;
	border: 1px solid #3E2723;
	border-radius: 5px;
	font-size: 17px;
}

#cal_area{
	width: 100%;
	height: 500px;
}

#select_time{
	  pointer-events: none;
	  background-color: #EFEBE9;
	  border: 1px solid #3E2723;
	  width: 115px;
	  border-radius: 5px;
	  font-size: 17px;
	  text-align: center;
}

#resrv_availableTime button:hover{
	cursor: pointer;
	border: 2px solid #3E2723;
}
#resrv_availableTime button:active{
	background-color: #BCAAA4;
}

#resrv_info input{
	text-align: center;
	height: 30px;
}

#submit, #cancel {
	  cursor:pointer;
	  background-color: #EFEBE9;
	  border: 1px solid #3E2723;
	  width: 100px;
	  height: 30px;
	  border-radius: 5px;
	  font-size: 17px;
	  text-align: center;
}
h1, h2{
	width: 100%;
	text-align: center;
}
table {
	margin: 0px auto;
}
p{
	text-align: center;
}
#select_date{
	width: 115px;
}
#resrv_reqH1{
	margin-top: 0px;
}